<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/Cerulean.css">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <h3>{{error}} not found</h3>

    </div>
    {{>footer}}
  </body>
</html>
