<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/Cerulean.css">
  <title>{{title}}</title>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p class="lead">Enter the location you want to find the weather for.</p>
    <p class="lead">Can look up cities or addresses. Searching for just the city name will
    return the most populated city with that name, include the state For more
    accuracy</p>
  </div>

  {{>footer}}
</body>
</html>
