<footer>
  <p style = "padding-bottom: 0px; margin-bottom: 0px">Created by the one and only {{name}}</p>
  <p style="font-size: 8px; padding-top: 0px; margin-top:0px;">*Not the only {{name}}</p>
</footer>
